:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #041F1C; 
  --secondary: #024B37;
}

* {
  margin: 0;
  padding: 0;
}

body,html{
  height: 100%;
}

body{
  background-color: #024B37;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
  top: -7vw;
  position: relative;
}

#bg{
  position: fixed;
  background-image: url('../UI Images/screen-bg.png');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  opacity: 0.5;
}

#gameCanvas{
  width: 70vw;
  max-height: 600px;
  min-height: 300px;
  margin: 0 auto;
  border: 1px solid black;
}

header,footer{
  color: white;
  width: 70vw;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.emoji{
  display: inline-block;
  font-size: 4vw; 
  vertical-align: middle;
  line-height: 1;
  transform: translateY(+0.4em);
}

.title{
  display: inline-block;
  width: 50vw;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.about {
  font-size: 2vw;               
  text-align: center;          
  font-weight: bold;           
  font-family: 'Arial Black', sans-serif;
  margin-bottom: 1vw;
  color: #f0f0f0;              
  text-shadow: 0 0 4px #999999; 
}

.description {
  font-size: 1.2vw;           
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;              
  line-height: 1.6;             
  max-width: 70vw;              
  margin: 0 auto;              
  text-shadow: 0 0 2px #888888; 
}